<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demo of ChatGPT3.5-turbo via Flask">

    <title>{% block title %} {% endblock %}- FlaskApp</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  -->
    <link href="static/styles/css/bootstrap.min.css" rel="stylesheet">

        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F6J5X0J9V9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-F6J5X0J9V9');
</script>


  </head>
  <body>

    <header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">The Open College of the Arts: Chat GPT 3.5 demo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
		<li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Chat Home</a></li>	
        <li class="nav-item"><a class="nav-link" href="/dalle">Dall-E Image Gen</a></li>
        <li class="nav-item"><a class="nav-link" href="/guru">OCA Guru</a></li>
	</ul>
      </div>
    </div>
  </nav>
</header>



    <hr>
        

	    {% block content %} {% endblock %}


</body>
</html>
